body{
    margin: 0;
}

button{
    width: 20vw;
    height: 10vh;
    background-color: gray;
    border-radius: 10%;
    border: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 4vw;
    margin-left: 10px;
}

button:hover{
    color: #fff;
}

button:active{
    animation-name: rotate;
    animation-direction:reverse;
    animation-duration: 0.1s;
}

.gameScreen{
    width: 90vw;
    height: 50vh;
    background-color:rgb(117, 117, 117);
    outline:solid 10px rgb(71, 71, 71);
    border-radius:1px;
    margin: auto;
    margin-top: 5%;
    position:relative;
    overflow: hidden;
}

.Introduction
{
    position: absolute;
    background-color: gray;
    background-position: center;
    border-radius: 10px;
    text-align: center;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#IntroButton
{
    position: relative;
    width: 20%;
    height: 20%;
    font-size: xx-large;
    background-color: #585858;
    background-position: center;
}

.GameOverScreen
{
    position: absolute;
    background-color: gray;
    background-position: center;
    text-align: center;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#PlayerInputName
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
}

.bgImage{
    background-image:url("bg_o.png");
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    height: 100%;
    position:relative;
}

/*
For custom animation curves
https://cubic-bezier.com/#.86,.43,.38,1.29
*/
#PlayerChar{
    background-image:url("adventurer_o_idle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    position: absolute;
    width: 100%;
    height: 100%;
    
    animation-name: PlayerAnim;
    animation-timing-function: cubic-bezier(.86,.43,.38,1.29);
    animation-direction:normal;
    animation-duration: 0.5s;


}
@keyframes PlayerAnim
{
    from
    {
        transform: translateX(-50vh);
    }
    to
    {
      transform: translateX(0);
    }
}

#EnemyOrc{
    background-image:url("orc_o.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-name: EnemyIntroAnim;
    animation-timing-function: cubic-bezier(.86,.43,.38,1.29);
    animation-direction:normal;
    animation-duration: 0.5s;
    
}

#EnemyMage{
    background-image:url("mage_o.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-name: EnemyIntroAnim;
    animation-timing-function: cubic-bezier(.86,.43,.38,1.29);
    animation-direction:normal;
    animation-duration: 0.5s;
    
}

#EnemyTownsfolk{
    background-image:url("townsfolk_o.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right ;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-name: EnemyIntroAnim;
    animation-timing-function: cubic-bezier(.86,.43,.38,1.29);
    animation-direction:normal;
    animation-duration: 0.5s;
    
}
@keyframes EnemyIntroAnim
{
    from
    {
        transform: translateX(50vh);
    }
    to
    {
        transform: translateX(0);
    }
}

@keyframes EnemyExitAnim
{
    from
    {
        transform: translateX(0);
    }
    to
    {
        transform: translateX(50vh);
    }
}

#buttonHolder{
    width: 100%;
    position:absolute;
    bottom: 10%;
    text-align: center;
}

#playerHpBar{
    
    width: 30%;
    height: 5%;
    padding: 0.3%;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    position: relative;
    top: 30px; left: 40px;
}

#barHealth{
    box-sizing: inherit;
    position: relative;
    width: 100%;
    height:100%;
    background: red;
}

#playerHpText{
    box-sizing: inherit;
    position: relative;
    text-align: left;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vh;
}

#buttonPhysical{
    background:linear-gradient(45deg, rgb(23, 92, 23) 0%, rgb(24, 129, 10) 50%);
}

#buttonPhysical:hover{
    background:linear-gradient(45deg, rgb(26, 92, 26) 0%, rgb(16, 87, 7) 50%);
}



#buttonMagic{
    background:linear-gradient(45deg, rgb(233, 11, 11) 0%, rgb(139, 30, 22) 50%);
}

#buttonMagic:hover{
    background:linear-gradient(45deg, rgb(182, 10, 10) 0%, rgb(97, 19, 15) 50%);

}


#buttonIntimidate{
    background:linear-gradient(45deg, rgb(194, 121, 13) 0%, rgb(134, 84, 8) 50%);
}

#buttonIntimidate:hover{
    background:linear-gradient(45deg, rgb(150, 94, 10) 0%, rgb(102, 64, 6)50%);
}

@keyframes rotate
{
0%{
    transform:rotate(0);
}
100%{
    transform:rotate(5deg);
}
}